/*Body*/
.box
{
    width: 96.5%;
    height: 15cm;
    padding: 50px;
    margin: 20px;
    background-color: antiquewhite;
    position: relative;
    top:200px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/* *{
    font-family: 'Koulen', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
} */

/*Navigation Bar*/

/* .navbar{
    margin: 0rem;
    padding: 0rem;
    padding-top: 0rem;
    margin-bottom: 2rem;

}

.navbar-brand{
    margin-left: 1rem;
}

.search{
    margin-right: 1rem;
}

.navbar-nav{
    margin-left: 40rem;
}
.nav-item{
    margin-right: 1.5rem;
}

.color{
    background-color: #243A73;
}
 */


/*content*/

#form{
    padding: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
    position: relative;
    top: 2px;
}

.profileimage{
    height: 170px;
    width: 170px;
    align-items: center;
    position: relative;
    border-radius: 20%;
    justify-content: center;
    margin-left: 40%;
    margin-bottom: 2rem;
}

.des{
    border-width: 2rem;
}

.button{
    background-color: #243A73;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.col{
position:relative;
top: 10px;
}

label{
    position: relative;
    top:20px;
    left:0;
    transform: translate(10px,10px);
    transform-origin: left;
    transition: transform .25s;
}

#Name{
    padding: 10px;
    border:none;
    border-radius: 4px;
    font:inherit;
    color: black;
    background-color: transparent;
    outline: 2px solid #fff;
}

.col:focus-within label{
    transform:translate(0,-30px) scale(.8);
    color: black;
}
.col:focus-within #Name{
    outline-color: black;
}

