/*Body*/
*{
    font-family: 'Koulen', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/*Navigation Bar*/

.navbar{
    margin: 0rem;
    padding: 0rem;
    padding-top: 0rem;
    margin-bottom: 2rem;

}

.navbar-brand{
    margin-left: 1rem;
}

.search{
    margin-right: 1rem;
}

.navbar-nav{
    margin-left: 40rem;
}
.nav-item{
    margin-right: 1.5rem;
}

.color{
    background-color: #243A73;
}



/*content*/

#form{
    padding: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.profileimage{
    height: 170px;
    width: 170px;
    align-items: center;
    position: relative;
    border-radius: 20%;
    justify-content: center;
    margin-left: 40%;
    margin-bottom: 2rem;
}

.des{
    border-width: 2rem;
}

.button{
    background-color: #243A73;
    align-items: center;
    justify-content: center;
    text-align: center;
}